.logo{
    display: block;
    border-radius: 100%;
    content: "";
    height: 100px;
    left: 50px;
    position: fixed;
    top: 18px;
    width: 100px;
    z-index: 9998;
}

.logo img{
    width: 100px;
    height: 100px;
}

.nav_links, .nav_buttons{
    display: flex;
    align-items: center;
}

.nav_links li, .nav_buttons li{
    float: none;
    display: inline-block;
    text-align: center;
}

.nav_links li a, .nav_buttons li a{
    font-family: sans-serif;
    text-decoration: none;
    color: #3DB87B;
    padding: 20px 20px 20px 20px;
    font-weight: 600;
    border-bottom: 3px solid transparent;
}

.navbar{
    background-color: #ffffff;
    box-shadow: 0 1px 5px;
    left: 0;
    min-height: 68px;
    padding-right: 2em;
    position: fixed;
    top: 0;
    width: 100%;
    clear: both;
    display: flex;
    justify-content: space-evenly;
}


.btn a{
    background-color: #4CE398;
    border-radius: 7px;
    color: #ffffff !important;
    font-size: 0.9em;
    margin-left: 15px;
    padding: 0.6em 1em !important;
    width: 120px;
    text-align: right !important;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    font-size: 14px;
    font-weight: 600;
    font-family: sans-serif;
    text-align: center;
    border-radius: 7px;
    position: absolute;
    background-color: #4CE398;
    min-width: 100px;
    padding: 12px 9.5px;
    z-index: 1;
    left: 15px;
    top: 20px;
    opacity: 0;
    transform: scale(0);
    -webkit-transition: transform 0.3s ease-in-out, opacity 0.3s ease-in-out; 
    transition: transform 0.3s ease-in-out, opacity 0.3s ease-in-out; 
}

.dropdown-content a{
    text-decoration: none;
    color: #ffffff;
    transition: 0.3s color ease;
}

.dropdown:hover .dropdown-content {
    display: block;
    opacity: 1;
    transform: scale(1); 
}

.dropdown-content a:hover{
    text-decoration: underline;
    color: #3DB87B;
}


.offer img{
    width: 100%;
}

section{
    margin: 15px;
}

.firstblck{
    display: flex;
}

.more{
    font-family: 'Open Sans', sans-serif;
    font-size: 24px;
    width: 90%;
    color: #737373;
}

.span{
    font-family: 'Open Sans', sans-serif;
    font-size: 24px;
    color: #737373;
    font-weight: 600;
}

.maintxt{
    width: 80%;
}

.donate{
    padding-bottom: 100px;
    font-family: sans-serif;
    font-size: 64px;
    color: #3DB87B;
}

.secondblck{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.img img{
    height: 35px;
    width: auto;
}

.img{
    padding: 15px;
}

.txtblocks{
    width: 690px;
    display: flex;
}

.txtblocks h5{
    font-family: sans-serif;
    font-weight: 600;
    color: #3DB87B;
    margin: 22px 0px 2px 0px ;
}

.txtblocks p{
    line-height: 25px;
    font-family: sans-serif;
    margin: 2px 0px 16px 0px ;
}

.contacts{
    gap: 150px;
    font-family: 'Open Sans', sans-serif;
    color: #ffffff;
    background-color: #34B575;
    display: flex;
    justify-content: center;
}

.facts{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.conn{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}


.conn-links li a{
    font-size: 30px;
    color: #34B575;
}

.conn-links li{
    margin: 3px;
    padding: 10px 0px 0px 0px;
    width:  50px;
    height: 40px;
    border-radius: 5px;
    background-color: #1C8253;
    display: inline-block;
    transition: all 0.15s linear 0s;
}

.conn-links li:hover{
    background-color: #ffffff;
}

.header_txt{
    font-size: 20px;
    font-weight: 600;
}

h5.header_txt{
    margin: 0;
}

.line{
    background-color: #ffffff;
    height: 200px;
    width: 2px;
    margin-top: 25px;
}

.line_green{
    background-color: #1c8253;
    border-radius: 10px;
    width: 80px;
    height: 4px;
    margin-bottom: 20px;
}


.menu-toggle {
    display: none;
}

.menu-toggle-label {
    display: none;
    cursor: pointer;
}

.hamburger,
.hamburger::before,
.hamburger::after {
    display: block;
    background: #3DB87B;
    height: 3px;
    width: 30px;
    transition: all 0.3s ease-in-out;
}

.hamburger::before,
.hamburger::after {
    content: "";
    position: absolute;
}

.hamburger::before {
    transform: translateY(-10px);
}

.hamburger::after {
    transform: translateY(10px);
}


/* Стилі для мобільних пристроїв */
@media (max-width: 1096px) {
    /* Меню навігації */

    .menu-toggle-label {
        display: block;
    }

    .nav_links,
    .nav_buttons {
        display: none;
    }

    .menu-toggle:checked ~ .nav_links,
    .menu-toggle:checked ~ .nav_buttons {
        display: flex;
        padding: 20px 20px;
        align-items: baseline;
        flex-wrap: wrap;
        justify-content: center;
    }

    .navbar {
      flex-direction: column;
      align-items: flex-start;
      padding: 10px;
      min-height: 40px;
    }

    .logo {
        display: flex;
        top: 5px;
        width: -webkit-fill-available;
        justify-content: flex-end;
        z-index: 9998;
    }

    .logo img {
        width: 50px;
        height: 50px;
    }
  
    .nav_links li,
    .nav_buttons li {
      display: block;
      width: max-content;
      text-align: left;
    }
  
    /* Випадаюче меню */
    .dropdown-content {
      opacity: 1;
      background-color: #4CE398;
      padding: 10px 9.5px;
    }
  
    .dropdown-content a {
      color: #ffffff;
    }
  
    /* Головний банер */
    .offer img {
      max-height: 300px;
      object-fit: cover;
    }

    .donate{
        padding-bottom: 0px;
        font-size: 50px;
    }
  
    /* Блоки з текстом і іконками */
    .firstblck {
      flex-direction: column;
    }
  
    .maintxt {
      width: 100%;
      text-align: center;
    }

    .more{
        width: 100%;
    }
  
    .image {
      margin-top: 20px;
      text-align: center;
    }

    .image img{
        width: 200px;
        height: 500px;
    }

    .txtblocks {
      align-items: center;
      width: auto;
    }
  
    /* Футер */
    .contacts {
      flex-direction: column;
      gap: 30px;
      padding: 20px;
    }
  
    .line {
      height: 2px;
      width: 100%;
      margin: 20px 0;
    }
  }

  @media (max-width: 650px) {
    .navbar{
        min-height: 10px;
    }

    .logo{
        top: 0;
        display: flex;
        width: -webkit-fill-available;
        justify-content: flex-end;
    }

    .logo img {
        width: 30px;
        height: 30px;
    }
    
    .menu-toggle:checked ~ .nav_links,
    .menu-toggle:checked ~ .nav_buttons {
        padding: 20px 40px 10px 20px;
        line-height: 20px;
    }

    .search{
        display: block;
    }

    .btndonate{
        margin-left: 20px;
    }

  }